@namespace xlink 'http://www.w3.org/1999/xlink';

#header {
	background-image: linear-gradient(#E04641,
		#E04641 16.67%,
		#DE7E41 16.67%,
		#DE7E41 33.33%,
		#E4D56F 33.33%,
		#E4D56F 50%,
		#55B85F 50%,
		#55B85F 66.67%,
		#2473B5 66.67%,
		#2473B5 83.33%,
		#6F5DA5 83.33%,
		#6F5DA5
	) !important;
	background-color: initial;
}



div.select2-drop .select2-search input.primary,
select.primary,
button.primary,
.button.primary,
input:not([type='range']).primary,
textarea.primary,
div[contenteditable='true'].primary,
.pager li a.primary {
	background-image: linear-gradient(#E04641,
		#E04641 16.67%,
		#DE7E41 16.67%,
		#DE7E41 33.33%,
		#E4D56F 33.33%,
		#E4D56F 50%,
		#55B85F 50%,
		#55B85F 66.67%,
		#2473B5 66.67%,
		#2473B5 83.33%,
		#6F5DA5 83.33%,
		#6F5DA5
	) !important;
	background-color: initial;
	color: white;
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
	border-color: rgba(127,127,127, .7);
}


/* Header icons get drop shadow for visibility */
#header .logo.logo-icon,
#appmenu svg,
#more-apps div,
.searchbox input[type="search"],
.notifications .notifications-button img,
#contactsmenu .icon-contacts,
#expand .avatardiv-shown img,
#expand .expandDisplayName {
    /* Modified .icon-shadow with modified $color-box-shadow */
    filter : drop-shadow(0 0 3px rgba(50, 50, 50, .5)) !important;
}

/* Header icons get higher opacity for visibility */
#appmenu li a,
.searchbox input[type="search"],
#header .header-right > div > .menutoggle,
#header .header-right > form > .menutoggle {
	opacity: .9;
}

/* Remove primary color background of header bar app titles */
/* But get drop shadow for visibility */
#appmenu li:hover a + span,
#appmenu li a:focus + span,
#appmenu li:hover span,
#appmenu li:focus span,
#appmenu li a:focus span {
    opacity: .9;
    background: transparent;
    /* Modified .icon-shadow with modified $color-box-shadow */
    text-shadow: 0 0 3px rgba(50, 50, 50, .5) !important;
}

/* Nicer search box background */
.searchbox input[type="search"]:focus,
.searchbox input[type="search"]:active,
.searchbox input[type="search"]:valid {
    background-color : rgba(0, 0, 0, .5) !important;
    border           : none !important
}

#appmenu li {
	&:hover a + span,
	a:focus + span,
	&:hover span,
	&:focus span,
	a:focus span {
		background: none !important;
		font-weight: bold;
	}
}

// App icon in apps management list
.apps-list [xlink|href*=pride] {
    filter: none !important;
}